body,.mui-content{
	/*background-color: #F9F9F8;*/
}
.mui-bar{
	border-bottom: 1px solid #AAAAAA;
}
.details_content{
	width: 100%;
	height: auto;
	background-color: white;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.375rem;
}
.details_content img{
	width: 17.225rem;
	height: 8.1rem;
	border-radius: 5px;
}
.content_div{
	width: 100%;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	font-size: 0.75rem;
}
.font_p{
	font-size: 0.6rem;
	color: #989898;
}
.price_div{
	width: 100%;
	display: flex;
	font-size: 0.6rem;
	justify-content: space-between;
	margin-top: 0.3rem;
	padding-bottom: 0.4rem;
}
.font_span3{
	font-size: 0.9rem;
	color: #f31b1b;
}
.details_evaluate{
	width: 17.25rem;
	height: 5.6rem;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	margin-top: 0.375rem;
	position: relative;
	box-shadow: 0 2px 5px #C0DDEF;
}
.evaluate_title{
	width: 100%;
	font-size: 0.6rem;
	font-weight: bold;
	padding-top: 0.4rem;
	margin-bottom: 0.2rem;
}
.evaluate_info{
	width: 100%;
	font-size: 0.6rem;
	color: #989898;
	display: flex;
    align-items: center;
}
.evaluate_info img{
	width: 1.375rem;
	height: 1.375rem;
	margin-right: 0.3rem;
	border-radius: 50%;
}
.evaluate_div{
	width: 100%;
	height: 2.25rem;
	margin-top: 0.2rem;
	font-size: 0.6rem;
}
.select_more{
	font-size: 0.6rem;
	color: #4e7ef2 !important;
	position: absolute;
	right: 3%;
	top: 2%;
}
.tj{
	width: 100%;
	height: 2.6rem;
	background-color: #F9F9F9;
}
.tj_content{
	width: 9.25rem;
	height: 100%;
	font-size: 0.75rem;
	margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xian1{
	width: 1.875rem;
	height: 1px;
	background-color: black;
}
.index_sp{
	width: 1.1rem;
	height: 0.75rem;
}
.sp_body{
	width: 100%;
	height: 13.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.3rem;
	font-size: 0.75rem;
}
.sp_body img{
	width: 100%;
	height: 8.875rem;
	border-radius: 5px;
}
.index_tjsp{
	width: 0.925rem;
	height: 0.925rem;
}
.tjsp_body{
	width: 100%;
	height: auto;
	background-color: white;
	margin-bottom: 2.42rem;
}
.tjsp_content{
	width: 100%;
	height: 5.95rem;
	display: flex;
    justify-content: space-between;
    padding-left: 0.75rem;
	padding-right: 0.75rem;
	border-bottom: 1px solid #DCDCDC;
}
.tjsp_content:last-child{
	border-bottom:none;
}
.content_left{
	width: 4.975rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content_left img{
	width: 5.25rem;
	height: 3.95rem;
}
.content_right{
	width: 11.3rem;
	height: 100%;
	font-size: 0.75rem;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.font_span{
	font-size: 0.6rem;
	color: #989898;
	margin-bottom: 0.3rem;
}
.font_span1{
	font-size: 0.9rem;
	color: #f31b1b;
}
.font_span2{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.font_span{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;  
	-webkit-line-clamp: 2;  
	-webkit-box-orient: vertical;  
}
.details_footer{
	width: 100%;
	height: 2.375rem;
    display: flex;
    position: fixed;
    bottom: 0;
}
.footer_content{
	width: 7.625rem;
	height: 100%;
	background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer_div{
	height: 100%;
	display: inline-flex;
    justify-content: space-evenly;
}
.details_kefu{
	width: 0.85rem;
	height: 0.85rem;
}
.details_shouchang{
	width: 0.85rem;
	height: 0.8rem;
}
.footer_content1{
	width: 5.6rem;
	height: 102%;
	background: -webkit-linear-gradient(left, #EFC24F , #FE9935);
    background: -o-linear-gradient(right, #EFC24F, #FE9935);
    background: -moz-linear-gradient(right, #EFC24F, #FE9935);
    background: linear-gradient(to right, #EFC24F , #FE9935);
    color: white;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content2{
	width: 5.55rem;
	height: 102%;
	color: white;
    font-size: 0.75rem;
    background: -webkit-linear-gradient(left, #4877EC , #2DB0FC);
    background: -o-linear-gradient(right, #4877EC, #2DB0FC);
    background: -moz-linear-gradient(right, #4877EC, #2DB0FC);
    background: linear-gradient(to right, #4877EC , #2DB0FC);
    display: flex;
    justify-content: center;
    align-items: center;
}
.specifications{
	width: 100%;
	height: 19.125rem;
	background-color: white;
	border-radius: 10px 10px 0 0;
	padding-left: 0.75rem;
	display: none;
	z-index: 999;
	position: fixed;
	bottom: 0;
}
.specifications_title{
	width: 100%;
	height: 4.7rem;
	position: relative;
	padding-right: 0.25rem;
	border-bottom: 1px solid #DCDCDC;
    display: flex;
    justify-content: space-between;
}
.title_left{
	width: 5.975rem;
	height: 100%;
	display: flex;
	align-items: center;
}
.title_left img{
	width: 5.25rem;
    height: 3.95rem;
}
.title_content{
	height: 100%;
	font-size: 0.5rem;
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title_right{
	height: 100%;
}
.title_right img{
	width: 0.95rem;
	height: 0.95rem;
	margin-top: 0.4rem;
}
.font_magin{
	margin-bottom: 0.3rem;
}
.specifications_content{
	width: 100%;
	height: auto;
	margin-top: 0.3rem;
}
.content_title{
	font-size: 0.5rem;
	margin-bottom: 0.75rem;
	margin-top: 0.65rem;
}
.specifications_content_div{
	width: 100%;
	height: auto;
	
}

.specifications_div{
	font-size: 0.6rem;
	width: 4.4rem;
	height:1.45rem ;
	border-radius: 10px;
	background-color: #E1E1E1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.65rem;
	margin-bottom: 0.3rem;
}
.specifications_div:last-child{
	margin-right: 0;
}
.specifications_content1{
	width: 100%;
	height: 1.25rem;
	font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.75rem;
    margin-top: 0.95rem;
}
.number{
	height: 100%;
	width: 5.86rem;
	display: flex;
	justify-content: space-between;
}
.number button{
	width: 1.7rem;
	height: 100%;
	background-color: #EDEDEC;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.25rem;
	padding: 0;
}
.number input{
	font-size: 0.75rem;
	width: 2.2rem;
	height: 100%;
	background-color: #E1E1E1;
	border: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.div_button{
	height: 2.45rem;
	width: 15.15rem;
	margin: 0 auto;
	margin-top: 0.8rem;
	padding-right: 0.75rem;
}
.div_button a button{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background: -webkit-linear-gradient(left, #4679EE , #2EAFFC);
    background: -o-linear-gradient(right, #4679EE, #2EAFFC);
    background: -moz-linear-gradient(right, #4679EE, #2EAFFC);
    background: linear-gradient(to right, #4679EE , #2EAFFC);
    color: white;
    font-size: 0.9rem;
}
.specifications_div_active{
	background-color: white;
	border: 1px solid #85D5FD;
	color: #7E9BF1;
}
.set_content1{
	width: 100%;
	height: 2.5rem;
	background-color: white;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
}
.content_right1> img{
	width: 0.375rem;
	height: 0.625rem;
}
.content_right1{
	font-size: 0.75rem;
    display: flex;
    align-items: center;
}
.content_right1 span{
	margin-right: 1.45rem;
	
}
.xian{
	height: 10px;
	width: 100%;
	background-color: #EDEDED;
}
