.mui-bar{
	border-bottom: 1px solid #AAAAAA;
}
button{
	padding: 0;
}
.dispatch_body{
	width: 18rem;
	height: 7.05rem;
	margin-left: 0.75rem;
	border-bottom: 1px solid #EDEDED;
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 0.75rem;
}
.dispatch_left{
	height: 5.85rem;
	width: 5.25rem;
}
.dispatch_right{
	height: 5.85rem;
	width: 11.3rem;
}
.dispatch_left img{
	width: 5.25rem;
	height: 3.95rem
}
.dispatch_info{
	width: 100%;
	display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
}
.info_left,.info_right{
	font-size: 0.6rem;
	color: #989898;
}
.info_left img{
	width: 0.525rem;
	height: 0.525rem;
	margin-right: 0.2rem;
}
.info_right img{
	width: 0.475rem;
	height: 0.625rem;
	margin-right: 0.2rem;
}
.div_button{
	width: 118%;
	display: flex;
	justify-content: flex-end;
	margin-top: 1.1rem;
	margin-left: -2rem;
	
}
.div_button button{
	margin-left: 0.5rem;
}
.zw{
	width: 3.3rem;
	height: 1.1rem;
}
.yjd{
	height: 1.1rem;
	width: 3.35rem;
}
.qewc{
	height: 1.1rem;
	width: 3.4rem;
}
.ck{
	width: 4.725rem;
	height: 1.1rem;
}
.blue{
	background: -webkit-linear-gradient(left, #4679EE , #2EAFFC); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4679EE, #2EAFFC); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4679EE, #2EAFFC); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4679EE , #2EAFFC); /* 标准的语法 */
	color: white;
	font-size: 0.6rem;
	border-radius: 20px;
	box-shadow: 0 0 5px #2EAFFC;
}
.white{
	background-color: white;
	color: #989898;
	font-size: 0.6rem;
	border-radius: 20px;
	box-shadow: 0 0 5px #2EAFFC;
}
.fabu_img{
	width: 1.125rem;
	height: 1.125rem;
}
