body,.mui-content{
	background-color: #FAFAFA;
}
.mui-bar{
	border-bottom: 1px solid #A7A7A7;
}
.share_body{
	width: 17.3rem;
	height: 6.15rem;
	margin: 0 auto;
	border-radius: 5px;
	background-color: white;
	margin-top: 0.75rem;
	box-shadow: 0 3px 5px #B5D9F8;
	padding-left: 0.35rem;
	padding-right: 0.35rem;
}
.share_content{
	width: 100%;
	height: 3.075rem;
	border-bottom: 1px solid #DCDCDC;
	font-size: 0.75rem;
	display: flex;
	align-items: center;
}
.share_content:last-child{
	border-bottom: none;
}
.share_content img{
	width: 1.05rem;
	height: 1.05rem;
	margin-right: 1.15rem;
}
