body,.mui-content{
	background-color: #FAFAFA;
}
.shopping_header{
	width: 100%;
	height: 8.9725rem;
	background:  url(../img/shopping_header.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 1rem;
}
.header_content{
	width: 17.25rem;
	height: 1.75rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header_content_left{
	height: 100%;
	display: flex;
}
.header_content_left_img{
	height: 100%;
	margin-right: 0.5rem;
}
.header_content_left_img img{
	width: 0.375rem;
	height: 0.625rem;
}
.header_content_left_div{
	height: 100%;
	color: white;
	font-size: 0.9rem;
}
.font_p{
	font-size: 0.45rem;
	color: white;
}
.header_content_right{
	font-size: 0.75rem;
	color: white;
}
.shopping_body{
	width: 17.25rem;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -8.625rem;
	margin-top: -4.5rem;
	margin-bottom: 2.7rem;
}
.shopping_content{
	width: 100%;
	height: 7.15rem;
	background-color: white;
	border-radius: 5px;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
	margin-top: 1rem;
}
.shopping_content:first-child{
	box-shadow: 0 5px  5px #E2EEF7;
	margin-top: 0;
}

.guoxuan,.all_guoxuan{
	width: 0.875rem;
	height: 0.875rem;
}
.sp_img{
	width: 4.625rem;
	height: 3.475rem;
}
.shopping_content_div{
	width: 10.5rem;
	height: 4.65rem;
	
}
.shopping_title{
	font-size: 0.65rem;
	
}
.shopping_tips{
	font-size: 0.6rem;
	width: 9.25rem;
	color: #919191;
}
.shopping_content_price{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.font_p2{
	font-size: 0.7rem;
	color: #fc0b0b;
}
.price,.price1{
	font-size: 0.9rem;
	color: #fc0b0b;
}
.commodity_div{
	width: 100%;
	height: 2.9rem;
	border-bottom: 1px solid #E8E5E5;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
	background-color: white;
}
.commodity_div_right{
	width: 6.75rem;
	display: flex;
	justify-content: space-between;
	
}
.div_button{
	width: 1.65rem;
	height: 1.55rem;
	background-color: #F0F0F0;
	font-size: 1.5rem;
	color: #989898;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number_input{
	margin-bottom: 0 !important;
	border: none !important;
	width: 3.35rem !important;
	height: 1.55rem !important;
	background-color: #F3F3F3 !important;
	font-size: 0.9rem;
	color: #989898;
	text-align: center;
	font-size: 0.9rem;
}
.shopping_footer,.manage_footer{
	width: 100%;
	height:2.4rem ;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #D8D8D8;
	background-color: white;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
    justify-content: space-between;
}
.manage_footer{
	display: none;
}
.shopping_footer_left{
	font-size: 0.6rem;
	color: #989898;
	height: 100%;
	display: flex;
	align-items: center;
}
.all_guoxuan{
	width: 0.875rem;
	height: 0.875rem;
	margin-right: 0.6rem;
}
.shopping_footer_right{
	width: 9.65rem;
	height: 100%;
	font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manage_footer_right{
	width: 9.65rem;
	height: 100%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.settlement,.delete{
	font-size: 0.75rem;
	color: white;
	width: 3.875rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(left, #2DB4FC , #467BEE);
    background: -o-linear-gradient(right, #2DB4FC, #467BEE);
    background: -moz-linear-gradient(right, #2DB4FC, #467BEE);
    background: linear-gradient(to right, #2DB4FC , #467BEE);
    border-radius: 25px;
}
